/** UTILITIES **/
/** BASE **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
body {
  margin: 0rem;
  padding: 0rem;
  background-color: #f2f2f2;
}

.main-padding {
  padding: 0rem 10rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #000000;
  text-align: justify;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.1;
  color: #000000;
  font-weight: bold;
  font-style: normal;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  line-height: 1.1;
  color: #000000;
  font-weight: 600;
  font-style: normal;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #000000;
  font-weight: 600;
  font-style: normal;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
  padding: 1.25rem;
}
ul li a {
  text-decoration: none;
  color: #000000;
}

.md-visible, .sm-visible, .xs-visible {
  display: none;
}

.margin-intersection {
  margin: 4rem 0rem 4.375rem 0rem;
}

.circle-image {
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.padding-top {
  padding-top: 13.4375rem;
}

.shorter-division {
  width: 3.75rem;
}

.green-division {
  border-top: 0.0625rem solid #6b8e23;
  margin: 0;
}

.dotted-division {
  border-top: 0.0625rem dashed #000000;
}

.margin-bottom-titles {
  margin-bottom: 1.5rem;
}

/** LAYOUT **/
/* HEADER */
header {
  background-color: #f5f5dc;
  width: 100%;
  border-bottom: 0.0625rem solid #000000;
}
header div img {
  background-color: #ffffff;
  width: 17.8125rem;
  height: 16.125rem;
  overflow: hidden;
  object-fit: cover;
  padding: 0.3125rem;
}

.contact-nav {
  background-color: #000000;
  width: 100%;
  text-align: end;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  box-sizing: border-box;
}
.contact-nav ul {
  list-style: circle;
  margin: 0rem;
}
.contact-nav ul li {
  padding: 0.9375rem 0;
}
.contact-nav ul li a {
  color: #ffffff;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f5f5dc;
  background: #f5f5dc;
  transform: translateY(-100%);
  transition: transform 500ms ease;
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: none;
  box-sizing: border-box;
  border-bottom: 0.125rem solid #000000;
}
.mobile-nav div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.mobile-nav div img {
  height: 2rem;
  width: 2rem;
  background: none;
  margin-top: 1.875rem;
}
.mobile-nav ul {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5625rem;
  font-weight: 600;
  margin-bottom: 4rem;
  padding: 0;
  text-align: center;
  margin-top: 0;
}
.mobile-nav.opened {
  transform: translateY(0);
}

.main-nav {
  width: 100%;
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: flex-end;
  align-items: none;
  gap: none;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  box-sizing: border-box;
}
.main-nav img {
  height: 2rem;
  width: 2rem;
  background: none;
}
.main-nav ul {
  width: fit-content;
  padding: 0;
}
.main-nav ul li {
  padding: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.main-nav ul li a {
  padding-left: 1.25rem;
}

.border-right-mainnav {
  border-right: 0.125rem solid #000000;
  padding-right: 1.25rem;
}

.header-shadow {
  box-shadow: 0 0.125rem 0.625rem #000000;
}

.logo-shadow {
  box-shadow: 0 0.125rem 0.625rem #000000;
}

.header-logo {
  position: absolute;
  top: 0px;
  left: 10rem;
}

.nav-margin {
  margin-bottom: 1.5625rem;
}

/* INICIO */
.padding-bot-index {
  padding-bottom: 5.625rem;
}

.homepage-banner {
  width: 100%;
  height: 31.375rem;
  border-bottom: 0.0625rem solid #000000;
  border-top: 0.0625rem solid #000000;
  overflow: hidden;
  object-fit: cover;
}

.card-entire {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.25;
}

.card {
  width: 21.5625rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  gap: none;
}
.card h2 {
  text-align: center;
}
.card img {
  width: 100%;
  height: 17.8125rem;
  object-fit: cover;
}
.card button {
  align-self: center;
}
.card p {
  text-align: center;
}

.medium-division {
  width: 7.5rem;
  margin: auto;
  margin-top: 1.25rem;
}

.product-homepage-img-size {
  width: 17.95rem;
  height: 17.95rem;
}

.homepage-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: left;
}

.vermas-button {
  background-color: #f2f2f2;
  border: 0.0625rem solid #6b8e23;
  padding: 0.625rem 0.9063rem;
  margin-top: 1.125rem;
}
.vermas-button a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-align: center;
  height: 1.3125rem;
}
.vermas-button:hover {
  background-color: #dfdfdf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.verproductos-button {
  background-color: #f2f2f2;
  border: 0.0625rem solid #6b8e23;
  padding: 0.625rem 0.8125rem;
}
.verproductos-button a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 800;
  color: #000000;
  text-decoration: none;
  text-align: center;
  height: 1.3125rem;
}
.verproductos-button:hover {
  background-color: #dfdfdf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flex-products-inicio {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: 5rem;
}
.flex-products-inicio h2 {
  text-align: left;
  margin-bottom: 0;
}
.flex-products-inicio hr {
  width: 5rem;
  margin-left: 0;
  margin-top: 1.125rem;
  margin-bottom: 0.5625rem;
}
.flex-products-inicio button {
  padding: 0.625rem 0.8125rem;
  margin-bottom: 0.9375rem;
}
.flex-products-inicio p {
  text-align: justify;
}

/* LA EMPRESA */
.grid-values {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
  margin-top: 3.75rem;
}
.grid-values div {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: none;
}
.grid-values div p {
  text-align: center;
}
.grid-values div .values-img-size {
  height: 9.375rem;
  width: 9.375rem;
}

.text-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.9rem;
}
.text-cols p {
  text-align: justify;
  margin: 0;
  height: fit-content;
}
.text-cols div {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 0.0313rem solid #000000;
  background-size: cover;
}
.text-cols .img1 {
  background-image: url("../assets/img/historia-pag2 (2).jpg");
}
.text-cols .img2 {
  background-image: url("../assets/img/historia-pag2.jpg");
}

.padding-bot-laempresa {
  padding-bottom: 4.625rem;
}

.margin-bottom-valores {
  margin-bottom: 2.625rem;
}

.margin-bottom-laempresa {
  margin-bottom: 3rem;
}

.margin-valores {
  margin-bottom: 0.9375rem;
}

/* NUESTRA EXCELENCIA */
.margin-bottom-nuestraexcelencia {
  margin-bottom: 3.875rem;
}

.padding-bot-nuestraexcelencia {
  padding-bottom: 6.875rem;
}

.img-calidad1, .image-calidad2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border: 0.0313rem solid #000000;
}

.center-text {
  text-align: center;
}

.margin-nuestraexcelencia-divisions {
  margin: auto;
  margin-top: 1.125rem;
  margin-bottom: 2.375rem;
  border: 1px solid #6b8e23;
}

/* PRODUCTOS */
.text-border {
  border: 0.0625rem solid #6b8e23;
  padding: 0.75rem;
  display: inline;
}

.padding-cortos {
  padding: 4rem 0 0 0;
}

.padding-bot-productos {
  padding-bottom: 8.75rem;
}

.flex-products {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: none;
  margin-bottom: 5rem;
}

.box {
  margin-right: 1.25rem;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #6b8e23;
}

.margin-top-h3 {
  margin-top: 7rem;
}

.products-header {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: none;
}

.products-nav ul {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: none;
  align-items: none;
  gap: 1.25rem;
}
.products-nav ul li {
  padding: 1.25rem 0;
  text-align: center;
}
.products-nav ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #000000;
  font-style: italic;
}

.products-section hr {
  margin-top: 0rem;
  margin-bottom: 4.9375rem;
}
.products-section .margin-products-division {
  margin-top: 1.625rem;
  margin-bottom: 7rem;
}

#productos {
  margin-top: 1.625rem;
}

.products-img-size {
  width: 16.125rem;
  height: 16.125rem;
}

.grid-fideos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.grid-fideos div {
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  gap: none;
}
.grid-fideos div p {
  text-align: center;
}

.md-navprodduct-visible {
  display: none;
}

/* CONTACTOS */
.padding-bot-contactos {
  padding-bottom: 6.0625rem;
}

.map-iframe {
  width: 100%;
  height: 31.375rem;
  border-bottom: 0.0625rem solid #000000;
}
.map-iframe iframe {
  width: 100%;
  height: 100%;
}

.contact-section {
  padding-top: 6.0625rem;
}

.contact-title, .contact-subtitle {
  margin-bottom: 3.25rem;
}
.contact-title h1, .contact-subtitle h1 {
  margin-bottom: 1.2813rem;
}

.contact-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #000000;
  font-style: normal;
  margin-bottom: 4.5rem;
}

.form-text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #000000;
  font-weight: 600;
}

form input {
  width: 21.875rem;
  height: 2.6875rem;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1.625rem;
}
form textarea {
  width: 95%;
  height: 10.5rem;
  display: block;
  margin-top: 1.5rem;
  resize: none;
}

.form-button {
  width: 8.0625rem;
  height: 2.25rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #000000;
  font-weight: 600;
  background-color: #ffffff;
  margin-top: 2.75rem;
  border: 0.0625rem solid #000000;
}
.form-button:hover {
  background-color: #dfdfdf;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* FOOTER */
footer {
  background-color: #f5f5dc;
  width: 100%;
}
footer p {
  text-align: left;
}

.footer-container {
  display: flex;
  flex-wrap: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2.8125rem;
  height: 5.625rem;
  border-top: 0.0625rem solid #000000;
}

.socialmedia-container {
  display: flex;
  gap: 0.625rem;
}
.socialmedia-container a img {
  width: 1.8rem;
  height: 1.8rem;
}

.big-copyright {
  font-size: 2.5rem;
  margin: 0;
}

/** MEDIA **/
@media (max-width: 1439px) {
  /* general */
  .main-padding {
    padding: 0 3.125rem;
  }
  .md-visible {
    display: block;
  }
  .margin-top-titles {
    margin-top: 7rem;
  }
  /*header*/
  .header-logo {
    left: 50%;
    transform: translateX(-50%);
  }
  .main-nav {
    justify-content: center;
    padding-top: 15.625rem;
    padding-bottom: 0.9375rem;
  }
  .nav-margin {
    margin-bottom: 0.625rem;
  }
  .contact-nav ul li a {
    display: none;
  }
  .md-border-right-mainnav {
    border-right: 0.125rem solid #000000;
    padding-right: 1.25rem;
  }
  /* inicio */
  .card-entire {
    justify-content: space-around;
    gap: 2.5rem;
  }
  .vermas-button {
    margin-top: 0.3125rem;
  }
  /* la empresa */
  .grid-values {
    margin-bottom: 3.75rem;
  }
  .margin-bottom-soperos {
    margin-bottom: 6.5rem;
  }
  /*nuestra excelencia*/
  .padding-bot-nuestraexcelencia {
    padding-bottom: 6.2rem;
  }
  /* contacto */
  .contact-title, .contact-subtitle {
    margin-top: 7rem;
  }
  .form-text {
    margin-bottom: 7rem;
  }
}
@media (max-width: 1200px) {
  /* la empresa */
  .grid-values {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .values-img-size {
    height: 12.375rem;
    width: 12.375rem;
  }
}
@media (max-width: 1023px) {
  /* header */
  .main-nav {
    font-size: 1.125rem;
    padding-bottom: 0;
    padding-top: 15.3125rem;
  }
  /* productos */
  .md-navprodduct-visible {
    display: flex;
  }
  .md-navprodduct-hidden {
    display: none;
  }
  .products-nav ul {
    gap: 3rem;
  }
  .products-img-size {
    height: 13.625rem;
    width: 13.625rem;
  }
}
@media (max-width: 929px) {
  /* general */
  .sm-hidden {
    display: none;
  }
  .sm-visible {
    display: block;
  }
  .margin-top-titles {
    margin-top: 16rem;
  }
  /* header */
  .header-logo {
    position: absolute;
    top: 0px;
    left: 12.5rem;
  }
  .main-nav {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    justify-content: flex-end;
  }
  .mobile-nav ul {
    font-size: 1.25rem;
  }
  /* productos */
  .grid-fideos {
    gap: 1.5rem;
  }
}
@media (max-width: 812px) {
  /* inicio */
  .flex-products-inicio {
    flex-direction: column;
    gap: 1.25rem;
  }
  .flex-products-inicio .products-container {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    gap: none;
  }
  /* la empresa */
  .values-img-size {
    height: 11rem;
    width: 11rem;
  }
  .grid-values {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .text-cols {
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    gap: none;
  }
  .text-cols .img1, .text-cols .img2 {
    width: 100%;
    height: 25rem;
  }
  /* productos */
  .grid-fideos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: none;
    gap: 1.5rem;
  }
  .products-nav ul {
    gap: 1.5rem;
  }
  /* contactos */
  form input {
    width: 50%;
  }
}
@media (max-width: 620px) {
  /* productos */
  .md-navprodduct-visible {
    flex-direction: column;
    align-items: center;
  }
  .md-navprodduct-visible h1 {
    margin-bottom: 0.625rem;
  }
  .products-nav ul {
    padding-left: 0%;
  }
  .line {
    display: none;
  }
  .box {
    margin-right: 0%;
  }
  .flex-products {
    flex-direction: column;
    align-items: center;
  }
  /*contacto*/
  form input {
    width: 95%;
  }
}
@media (max-width: 511px) {
  /* general */
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.625rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .xs-visible {
    display: block;
  }
  .xs-hidden {
    display: none;
  }
  .margin-top-titles {
    margin-top: 11rem;
  }
  /* header */
  header div img {
    height: 12rem;
    width: 13.8rem;
  }
  .header-logo {
    left: 10rem;
  }
  .mobile-nav ul {
    font-size: 1.125rem;
  }
  /* la empresa */
  .values-img-size {
    height: 10rem;
    width: 10rem;
  }
  .text-cols .img1, .text-cols .img2 {
    width: 100%;
    height: 18rem;
  }
  /* productos */
  .products-nav ul li a {
    font-size: 1rem;
  }
  /* contacto */
  .contact-paragraph {
    font-size: 1.25rem;
  }
}
@media (max-width: 439px) {
  /* general */
  h1 {
    font-size: 1.375rem;
  }
  h2 {
    font-size: 1.25rem;
  }
  h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.875rem;
  }
  .margin-top-titles {
    margin-top: 7.5rem;
  }
  .main-padding {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
  .shorter-division {
    width: 2.75rem;
  }
  /* header */
  header div img {
    height: 9rem;
    width: 10.8rem;
  }
  .header-logo {
    left: 7.25rem;
  }
  .mobile-nav ul {
    font-size: 0.875rem;
  }
  .mobile-nav div img {
    height: 1.75rem;
    width: 1.75rem;
  }
  /* inicio */
  .homepage-banner {
    height: 25.375rem;
  }
  .homepage-text {
    font-size: 0.875rem;
  }
  .vermas-button a {
    font-size: 0.875rem;
  }
  .verproductos-button {
    margin-top: 0.625rem;
  }
  .verproductos-button a {
    font-size: 0.875rem;
  }
  .product-homepage-img-size {
    width: 14.95rem;
    height: 14.95rem;
  }
  .padding-bot-index {
    padding-bottom: 3.625rem;
  }
  .card img {
    height: 14.8125rem;
  }
  /* la empresa */
  .xs-margin-intersection {
    margin: 3rem 0rem 3.375rem 0rem;
  }
  /* productos */
  .products-section p {
    font-size: 0.875rem;
  }
  /* contacto */
  .map-iframe {
    height: 25.375rem;
  }
  .form-text {
    font-size: 1.125rem;
  }
  .form-button {
    font-size: 1.125rem;
  }
  .contact-title, .contact-subtitle {
    margin-top: 5.9375rem;
  }
  .contact-paragraph {
    font-size: 17px;
  }
}
@media (max-width: 406px) {
  /* la empresa */
  .grid-values {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    margin-top: 2.5rem;
    margin-bottom: 3.25rem;
  }
  .values-img-size {
    height: 12rem;
    width: 12rem;
  }
  /* nuestra excelencia */
  .padding-bot-nuestraexcelencia {
    padding-bottom: 5.625rem;
  }
  /* productos */
  .products-nav ul li a {
    font-size: 0.875rem;
  }
}
@media (max-width: 348px) {
  /* general */
  h1 {
    font-size: 1.32rem;
  }
  h3 {
    font-size: 0.875rem;
  }
  /* productos */
  .margin-bottom-soperos {
    margin-bottom: 5rem;
  }
}

/*# sourceMappingURL=style.css.map */
