@media (max-width: 1023px) { 
    /* header */
    .main-nav {
        font-size: 1.125rem;
        padding-bottom: 0;
        padding-top: 15.3125rem;
    }
    
    /* productos */
    .md-navprodduct-visible {
        display: flex;
    }

    .md-navprodduct-hidden {
        display: none;
    }

    .products-nav ul {
        gap: 3rem;
    }

    .products-img-size {
        height: 13.625rem;
        width: 13.625rem;
    }
    
}