@media (max-width: 348px) {
    /* general */
    h1{
        font-size: 1.320rem;
    }

    h3 {
        font-size: .875rem;
    }

    /* productos */
    .margin-bottom-soperos {
        margin-bottom: 5rem;
    }
}