/* FOOTER */

footer {
    background-color: map-get($colorsPalette, beige );
    width: 100%;

    p {
        text-align: left;
    }
}

.footer-container {
    @include flex (none, row, space-between, center, 2.8125rem);
    height: 5.625rem;
    border-top: .0625rem solid map-get($colorsPalette, negro);
}

.socialmedia-container {
    display: flex;
    gap: .625rem;

    a img {
        width: 1.8rem;
        height: 1.8rem;
    }
}

.big-copyright {
    font-size: 2.5rem;
    margin: 0;
}